body {
	  margin: 0;
	  font-family: Arial, Helvetica, sans-serif;
	  background-color: #81dbab;
	  color: #333;
}

header {
	  background-color: #c574eb;
	  color: white;
	  text-align: center;
	  padding: 20px;
}

section {
	  background-color: #eb7474;
	  color: white;
	  text-align: center;
	  padding: 20px;
}