header {
    color: white;
    background-color: #0400ff;
    padding: 5px;
    text-align: center;
}

body {
  background-color: #bababa;
}

footer{
    color: white;
    background-color: #0400ff;
    padding: 5px;
    text-align: center;
}

.content{
    padding-left: 5px;
    padding-top: 10px;
}

.biography{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 5px;
}

.achievements{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 5px;
    margin-top: 10px;
}

.linkto{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}